{"aobwsport":["AOBWS Port","Port which aobws module listens to. Default 8000","text",8000],
"authendpt":["JWT Authentication Endpoint","The network location where the authentication server should request on verifying JWT token. Default http://localhost/AOB/SystemAOB/system/jwt/validate.php","text","http://localhost/AOB/SystemAOB/system/jwt/validate.php"]
}