{"winHostEncoding":["Enable Window Host Encoding","Enable this option if your system is Windows and its kernel is not English based. This option will be overrided if the host system is Linux based.","boolean","true"],"forceEncodingType":["Force Encoding Charset","The default encoding for the system. See <a href='https:\/\/www.php.net\/manual\/en\/mbstring.supported-encodings.php' target='_blank'>https:\/\/www.php.net\/manual\/en\/mbstring.supported-encodings.php<\/a> for more information.","text","big5"]}