{"syspaths":["System Paths","Allowed system paths and mount points. Seperate each path with ;","html","\/media;\/var\/www"],"allowGlobalClipboard":["Enable Global Clipboard","Allow copy and pasting files or folder between file explorers in the same session.","boolean","true"],"enablesysscriptCheckBeforeDelete":["Protect System Script from Delete Operation","Perform a check on the delete target before the delete operation and reject delete operation if the script is located inside SystemAOB\/","boolean","true"],"enableTrashbin":["Enable Trash Bin","Store deleted file(s) in trash bin first before completely removing the file off the system. This option is applicable to files only.","boolean","true"]}