{"index-image":["Welcome Image","The first image shown on the top area of index.","file","img\/custom_frontpage.png"],"index-tag":["Welcome Image Caption","Some short phrase to put under the welcome image as caption","text","This is where the personal cloud system begins."],"directDesktop":["Direct Desktop Mode","Launch directly into Desktop Mode if the user is not accessing the page with mobile devices.","boolean","false"],"bottomTag":["Bottom Tagline","A little text shown on the bottom of the index","text","ArOZ Online Beta - Developmental Build"],"licenseTerm":["License Information","A little tag on the bottom of the page to show license information about this ArOZ Online Host.","html","CopyRight IMUS Laboratory, 2016-2019"]}