{"background-image":["Background Image","The default image shown in the login interface.","file","img\/background.jpg"],"title-image":["Title Image","The system tile image shown above the username and password input boxes.","file","img\/auth_icon_aCloud.png"],"theme-color":["Theme Color","The color for the login buttons and reminder text.","color","#f4426b"],"enable-ipdebug":["Enable IP Information","Show the IP address of the Client and Server on the bottom corner of the login screen.","boolean","true"]}