[
  {
    "name": "Source",
    "uuid": "src",
    "path": "test/src/",
    "access": "readwrite",
    "hierarchy": "user",
    "automount": false,
    "filesystem": "ntfs"
  }, 
  {
    "name": "Backup",
    "uuid": "backup",
    "path": "test/backup",
    "access": "readonly",
    "hierarchy": "backup",
    "automount": false,
    "filesystem": "ntfs",
    "parentuid": "src",
    "backupmode": "basic"
  }
]
