# Operating System Trash
*/Thumbs.db
*/._*

# Files that should not go into the main branch
src/arozos.exe
src/arozos_*
src/arozos
src/localhost.crt
src/localhost.key
src/system/dev.uuid
src/system/storage.json
src/subservice/*
src/*.go_disabled
src/system/ao.db

# WebApps that cannot be published
src/web/Cyinput/*

# Release folder and database stuffs
*/aofs.db
release/
src/files
src/system/logs 
src/system/neuralnet/yolov3.weights
src/system/ao.db.lock
src/system/auth/authlog.db.lock
src/system/neuralnet/predictions.jpg
src/system/auth/authlog.db
src/system/bridge.json
src/system/cron.json
src/system/smtp_conf.json
