{"generatePackingReport":["Generate Packing Report","Create a report for the generated backup pack after the backup has been created","boolean","false"],"useUUIDfname":["Use UUID as Restore Point Name","Use UUID v4 as the backup filename instead of the unix timestamp when it was created","boolean","true"],"includeReadme":["Include Readme File in Backup","Enable this option to include a README.md file inside the backup folder.","boolean","true"],"readmetxt":["Readme file content","The content to be included in the Readme file.","html","Welcome to the ArOZ Online System! Need help? Visit aroz.online for more information on how to get started."],"snapshot":["Allow Snapshot Packing","Only pack the files that have filesize difference from the previous backup.","boolean","true"]}