{"autoBackup":["Enable Auto-Backup","Allow system to perform auto backup after a certain period of time interval","boolean","false"],"useExternalStorage":["Backup to External Storage","Only backup to external storage if exists. If no external storage is mounted, backup will be stored in local disk.","boolean","false"],"removeOldBackups":["Remove old backups","Allow system to remove old backups that is no longer necessary.","boolean","true"],"backupInterval":["Backup Interval (Days)","How often should the system perform a full system backup.","integer","15"],"removeInterval":["Backup Valid Period (Days)","How long should the backup be kept before they are labeled as invalid and be removed in the next backup file cleaning session.","integer","30"]}