ROOT:
../../../../
INCLUDE:
*
IGNORE:
7-Zip File Manager
AirMusic
ArOZDFS
Calc
Cyinput
Deprecated
Dummy
FFmpeg
FFmpeg Factory
Filary
Homdynm
Home Dynamic
Magotag
Manga Cafe
Memo
Mirror
Mirror (fork)
MusicBank
PHP Proxy
Package Server
Paint
PrinterHub3D
QuickSend
RemotePlay
TerminalA
WIP Modules
WriterA
Zhuyin
Audio/uploads/
Desktop/deskinf/
Desktop/files/
Desktop/tmp/
Photo/storage/
Photo/uploads/
Photo/cache/
System Settings/menus/cluster.csv
SystemAOB/functions/arozdfs
SystemAOB/functions/backup/backups/
SystemAOB/functions/backup/build_profile
SystemAOB/functions/backup/build_tool
SystemAOB/functions/file_system/log/done/
SystemAOB/functions/file_system/log/error/
SystemAOB/functions/file_system/export/
SystemAOB/functions/cluster
SystemAOB/functions/file_system/export/
SystemAOB/functions/personalization/desktop-config/
Video/uploads/
IGNORE_EXT:
.psd
.db
.go