ROOT:
../../../../
INCLUDE:
*
IGNORE:
7-Zip File Manager/tmp/
AirMusic/uploads/
Audio/uploads/
Desktop/deskinf/
Desktop/files/
Desktop/tmp/
Home Dynamic/mapper/
Home Dynamic/nickname/
Magotag
Manga Cafe/comics/
Memo/save/
MusicBank
NotepadA/tmp/
Photo/storage/
Photo/uploads/
Photo/cache/
PrinterHub3D
QuickSend/Memo/
SystemAOB/functions/arozdfs/chunks/
SystemAOB/functions/arozdfs/index/
SystemAOB/functions/arozdfs/storage/
SystemAOB/functions/arozdfs/tmp/
SystemAOB/functions/arozdfs/uploads/
SystemAOB/functions/backup/backups/
SystemAOB/functions/cluster/mappers/
SystemAOB/functions/cluster/nickname/
SystemAOB/functions/cluster/tmp/
SystemAOB/functions/file_system/export/
SystemAOB/functions/file_system/log/done/
SystemAOB/functions/file_system/log/error/
SystemAOB/functions/personalization/desktop-config/
SystemAOB/system/iotpipe/devices/auto/
SystemAOB/system/iotpipe/devices/fixed/
SystemAOB/system/iotpipe/name/
Video/uploads/
WIP Modules
Youtube Downloader/files/
WriterA/uploads/
IGNORE_EXT:
.psd
.db