{"fbcolor":["Function Bar Color","Functional menu bar background color in RGBA format, e.g. rgba(48,48,48,0.7)","text","rgba(85, 115, 163, 0.7)"],"nbcolor":["Notification Bar Color","Notification Sidebar color in RGBA format  e.g. rgba(48,48,48,0.7)","text","rgba(85, 115, 163, 0.7)"],"nbfontcolor":["Notification Bar Default Font Color","The default font color for pop-up notification. Default white.","text","white"],"resizeInd":["Resize Indicator Icon","Filepath for the indicator image file.","file","img\/sys\/scalable.png"],"defBtnColor":["Default Button Color","The default color of the buttons on function bar in RGBA format. Default rgba(68, 68, 68,1). ","text","rgba(38, 81, 150, 0.7)"],"actBtnColor":["Active Button Color","The default color of activated buttons in RGBA format. Default rgba(34, 34, 34,1)","text","rgba(22, 48, 89, 0.7)"]}