*.db
.vscode/*
files/users*
.DS_Store
tmp/*
test/deviceA/*
test/deviceB/*
system/db/*
system/ao.db.lock
__debug_bin
subservice/aprint
subservice/aprint/*
build/*
system/storage.json
aroz_online.exe
aroz_online
