#OS stuffs
.vscode/*
.DS_Store

#Testing Folders
test/deviceA/*
test/deviceB/*
test/
tmp/*
files/users*
__debug_bin
experimentals/*
updates/*

#Database related
*.db
system/db/*
*.db.lock
system/ao.db.lock
*aofs.db.lock
./web/aofs.db
system/auth/authlog.db
fsdb/*

#Setting related
system/network/wifi/ap/*
system/storage.json
system/dev.uuid
system/smtp_conf.json
system/storage.json
system/bridge.json
system/storage/*.json
system/cron.json
system/neuralnet/predictions.jpg

#Logs related
system/aecron/*.log

#Webapp related
web/teleprompter/*

#Subservice related
subservice/*

!subservice/ArSamba
!subservice/ArSamba/*

!subservice/demo
!subservice/demo/*

!subservice/WsTTY/
!subservice/WsTTY/*

#Binary related
build/*
dist/*
aroz_online.exe
aroz_online
arozos.exe
*/arozos.exe
arozos_*_*
arozos
upx.exe

#Script related
start.sh.backup
*.backup
system/bridge.json
launcher.exe
web.tar.gz
