#OS stuffs
.vscode/*
.DS_Store

#Testing Folders
test/deviceA/*
test/deviceB/*
tmp/*
files/users*
__debug_bin
experimentals/*

#Database related
*.db
system/db/*
system/ao.db.lock
*aofs.db.lock
./web/aofs.db

#Setting related
system/network/wifi/ap/*
system/storage.json
system/dev.uuid
system/storage.json
system/storage/*.json
system/cron.json

#Logs related
system/aecron/*.log

#Webapp related
web/teleprompter/*

#Document related
src/documents/*

#Testing Modules
src/web/Dummy/*
src/web/Label Maker/*

#Subservice related
subservice/*

!subservice/ArSamba
!subservice/ArSamba/*

!subservice/demo
!subservice/demo/*

!subservice/WsTTY/
!subservice/WsTTY/*

#Binary related
build/*
aroz_online.exe
aroz_online
arozos.exe
*/arozos.exe
arozos
upx.exe
