/*
    Tocas UI with Miku Theme
    author: tobychui, Hasegawa.Shiro
*/

.ts.primary.button{
    border: 0px solid transparent !important;
    background-color: #19c48b94 !important;
}

.ts.primary.button:hover{
    opacity: 90%;
}


.ts.primary.segment{
    border-top-color: #19c48b94 !important;
}

.ts.list .primary.item{
    color:  #19c48b !important;
}

.ts.list .primary.item i{
    color:  #19c48b !important;
}
/* checkbox and radio :not(checked) active */
.ts.checkbox:not(.radio) label:active:before, .ts.radio.checkbox label:active:before {
    background-color: #92fcd9 !important;
}

/* checkbox, toggle and radio checked */
.ts.checkbox:not(.radio) input:checked+label:before, .ts.radio.checkbox input:checked+label:before, .ts.toggle.checkbox input:checked ~ .box:before, .ts.toggle.checkbox input:checked ~ label:before {
    background-color: #70eec4 !important;
}

/* checkbox, toggle and radio checked hover */
@media(hover: hover) and (pointer: fine) {
    .ts.checkbox:not(.radio) input:checked+label:hover:before, .ts.radio.checkbox input:checked+label:hover:before {
        background-color: #4bdbab !important;
    }
}
.ts.toggle.checkbox input:checked ~ .box:hover:before, .ts.toggle.checkbox input:checked ~ label:hover:before {
    background-color: #4bdbab !important;
}

/* checkbox, toggle and radio checked active */
.ts.checkbox:not(.radio) input:checked+label:active:before, .ts.radio.checkbox input:checked+label:active:before, .ts.toggle.checkbox input:checked ~ .box:active:before, .ts.toggle.checkbox input:checked ~ label:active:before {
    background-color: #40b890 !important;
}

.ts.fluid.slate{
    background-color: #edfcf7 !important;
}


.ts.form .fields .basic.success.field{
    border-top-color:  #1bd698 !important;
    border-bottom-color:  #1bd698 !important;
    border-left-color:  #1bd698 !important;
    border-right-color:  #1bd698 !important;
    color:  #1bd698 !important;
}

.ts.primary.progress .bar{
    background-color: #63fac8b7 !important;
}

.ts.inverted.primary.sidebar{
    background-color: #1bd698 !important;
}

.ts.menu.inverted.primary .item.item, .ts.menu.inverted.primary .item .menu .item{
    border-color: #4bdbaa !important;
}